@import '../../mixins';
@import '../../variables';

.worker-container {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  position: relative;
  .workers {
    background-color: transparent;
    z-index: 3;
  }
}

.feedback {
  @include WorkerCard;
  @include UnderCard;
  transition: 0.5s;
  &.liked {
    z-index: 3;
    background-color: $rota_orange;
  }
  &.disliked {
    z-index: 3;
    background-color: $font_lighter_black;
  }
  p.swiped {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    padding-top: 50%;
  }
  p.swiped:last-child{
    padding-top: 0;
  }
}

@media (min-width: 800px) {
  .worker-container {
    width: 30%;
  }
}